.site-main {
    border: 1px dashed #5994cc;
}

h2 {
    border-bottom: 2px solid rgb(70, 70, 70);
}

.date {
    font-size: 0.8em;
    padding: 0.5em 0 2em;
}

.tissue-rating img {
    float: left;
    height: 10em;
    margin: 0 1em 0.5em 0;
}

.tissue-rating:after {
    content: "";
    display: block;
    clear: both;
}